<mat-card class="learn_desc">
    <mat-card class="container">
        <mat-card class="content">
            <h1>What Your Child Will Learn</h1>
            <img src="/assets/images/tw_chld.png">
            <p>
                Rigorously trained teachers carefully observe their children in the Childhood
                environment, identifying their interests and abilities and developing personalized
                learning plans tailored to each child's needs. They guid the learning, introducing new
                lessons and tools needed to allow children's natural curiosities to drive learning,
                and provides choices that help them learn, grow, and succeed. As children move forward,
                they develop the ability to concentrate and make decisions, along with developing
                self-control, courtesy , and a sense of community responsibility.
            </p>
            <strong>
                In montessori schools, academic growth is seen as just one part of children's healthy
                development. The methode nurtures their social, emotional and physical growth ensuring
                that they are as per maria montessori put it." treading always in the paths of joy
                and love."
            </strong>

        </mat-card>
    </mat-card>
</mat-card>
<mat-card class="curriculum">
    <mat-card class="container">
        <div class="content1">
            <div class="imgContainer">
                <img src="/assets/images/play_chld.jpg">
            </div>
            <div class="content">
                <button class="green_btn"> Practical Life</button>
                <p>
                    <strong> Children learn daily-life skills, such as How to dressed,</strong> prepare snacks, set the
                    table,
                    and care for plants and anilmals. They also learn appropriate social interactions, such as saying
                    please and
                    thank-you, being kind and helpful, listening without interrupting, and resolving conflicts
                    peacefull. In
                    addition to teaching specific skills, Practical Life activities promote independence, and fine- and
                    gross-motor
                    coordination.
                </p>
            </div>
        </div>
        <div class="content1">
            <div class="content">
                <button class="violt_btn"> Sensorial</button>
                <p>
                    <strong> Children refine skills in perceiving the world through their different senses,</strong> and
                    learn how to describe
                    and name their experiences--- for example, rough and smooth,perceived through touch. Sensorial
                    learning helps children classify
                    their surroundings and create order.It lays the foundation for learning by developing the ability to
                    classify, sort and discriminate
                    --skills necessary in math, geometry, and language.
                </p>
            </div>
            <div class="imgContainer">
                <img src="/assets/images/l_chld.jpg">
            </div>
        </div>
        <div class="content1">
            <div class="imgContainer">
                <img src="/assets/images/b_chld.jpg">
            </div>
            <div class="content">
                <button class="orng_btn"> Language</button>
                <p>
                    <strong> Activities throughout the Early Childhood classroom teach language,</strong> help children
                    acquire vocabulary,
                    and develop skills needed for writting and reading. The ability to write, a precusor to reading, is
                    tought first. Using
                    hands-on materials, children learn letter sounds, how to combine sounds to make words, how to build
                    sentences, and how to
                    use a pencil. Once these skills are acquired, children spontaneously learn to read.
                </p>
            </div>
        </div>
        <div class="content1">
            <div class="content">
                <button class="skblu_btn"> Mathematics</button>
                <p>
                    <strong>Through hands-on activities,</strong> children learn to identify numerals and match them to
                    their quantity, understand
                    place-value and the base-10 system, and practice addition, substraction, multiplication, and
                    division. They also explore
                    patterns in the numbering system. With an exploratory approach, children do more than just memorize
                    math facts; they gain
                    a firm understanding of the meaning behind them.
                </p>
            </div>
            <div class="imgContainer">
                <img src="/assets/images/cls-01.jpg">
            </div>
        </div>
        <div class="content1">
            <div class="imgContainer">
                <img src="/assets/images/grp_chld.jpg">
            </div>
            <div class="content">
                <button class="chyn_btn"> Cultural Studies</button>
                <p>
                    <strong> A wide range of subjects,including history,geography,science, arts, and music,</strong> are
                    integrated in lessons in
                    the cultural area of the curriculum. Children learn about their own community and the world around
                    them. Discovering similarities
                    and differences among people and places helps them develop an understanding and appreciation of the
                    diversity of our world, and a
                    respect for all living things.
                </p>
            </div>
        </div>
        <div class="Crclm_bnr">
            <div class="img_contnr1"><img src="/assets/images/chlds.png"></div>
            <div class="img_contnr2"><img src="/assets/images/chlds-01.png"></div>
            <div class="content">
                <h1>SPECIAL STUDIES</h1>
                <p>
                    <strong>Lorem ipsum dolor sit amet thia section - </strong>this section in everything else not
                    covered above.
                </p>
            </div>

        </div>

    </mat-card>
</mat-card>