@media only screen and (max-width: 1692px){
    .Enrollment_block .Enrlmnt_contnt{
        width: 78%;
        margin: 0 auto;
        background-image: url(/assets/images/trio.png) ;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 50%;
      
    }
}
@media only screen and (max-width:1430px){
    .learn_desc .container {
        width: 98%;
        margin: 0 1%;
        padding: 0 0 15px !important;
    }
    .curriculum .container .content1{
        display: block ;
    }
    .curriculum .container .content1 .imgContainer {
        width: 100%;
    }
    .curriculum .container .content1 .content {
        width: 98%;
        padding: 0 1% 15px;
        text-align: center;
    }
    .curriculum .container {
        width: 96%;
    }
}
@media only screen and (max-width: 1024px){
    .Enrollment_block {
        background-image: url(/assets/images/baloon.png), url(/assets/images/bird.png) !important;
        background-repeat: no-repeat !important;
        background-position: left 70%,right 75% !important;
        background-size: 9% ,9% !important;
    }

    .Enrollment_block .Enrlmnt_contnt .Container1 h1 {
        color: #00ffff;
        font-size: 45px;
        margin: 15px 0;
    }
    .Enrollment_block .Enrlmnt_contnt .Container1 .chlds{
        display:block;
    }
    .Enrollment_block .Enrlmnt_contnt .Container1{
        padding-right: 0%;
    }
    .Enrollment_block .Enrlmnt_contnt{
        width: 78%;
        margin: 0 auto;
        background:none;
      
    }
    .Enrollment_block .Enrlmnt_contnt .Container1 a {
        margin-bottom: 5px;
    }

    .resources {
        padding: 0 !important;
        background-image: url(/assets/images/chklt.png),url(/assets/images/erth.png),url(/assets/images/bg-bl_shade.png) !important;
        background-repeat: no-repeat !important;
        background-position: 0% 5%, 100% 90% !important;
        background-size: 12% ,12%,90% !important;
    }
    .resources .clms {
        display:block !important;

    }
    .resources .clms .news_blk {
        width: 100%;
        margin: 12px 0;
    }
    .resources .clms .news_blk .NewsTitle {
        justify-content: left;
    }
    .resources .clms .news_blk .img_box {
        width: 8%;
    }
}
@media only screen and (max-width:770px){
    .Enrollment_block{
        background: none !important;
    }
    .Enrollment_block .Enrlmnt_contnt .Container1 h1 {
    margin:0;
    font-size: 38px;
    }
    .Enrollment_block .Enrlmnt_contnt .Container1 p {
        line-height: 1.2;
    }
    .Enrollment_block .Enrlmnt_contnt{
        width: 100%;
    }
    .Enrollment_block .Enrlmnt_contnt .Container1 a {
        font-size: 18px;
        padding: 0px 16px;
        margin-bottom: 0px;
    }
    
    .resources{
        background: none !important;
    }
    .resources h1{
        margin:0;
        font-size: 38px;
    }
    .resources .clms{
        width:95%;
    }
}
@media only screen and (max-width:1298px){
    .learn_desc .container .content h1 {
        font-size: 40px;
        line-height: 1;
    }
 
    .curriculum {
        background-position: right 10% , 4% center , 100% 80%, 3% 99% !important;
        background-size: 8%,8%,7%,8% !important;
    }
    .curriculum .container .content1{
        display: block;
    }
    .curriculum .container .content1 .imgContainer {
        width: 100%;
    }
    .curriculum .container .content1 .content {
        width: 98%;
        padding: 0 1% 15px;
    }
    .curriculum .container .Crclm_bnr img {
        
        height: 100%;
    }
    /* .curriculum .container .Crclm_bnr .content {
        padding: 20px 20px 0;
    } */
    .curriculum .container .Crclm_bnr .content h1{
        font-size: 35px;
    }
    .curriculum .container .Crclm_bnr .content p{
        font-size: 20px;
    }

}
@media only screen and (max-width:999px){
    .learn_desc{
        background: none !important;
    }
    .learn_desc .container .content {
        background: transparent !important;
        padding-left: 0;
    }
    .learn_desc .container .content img{
        display: block;
        width: 100%;
    }
    .learn_desc .container {
        width: 95%;
        margin: 0 auto;
    }
    .learn_desc .container .content p {
        line-height: 1.3;
    }
    .learn_desc .container .content strong {
        font-size: 20px;
        line-height: 1.1;
        font-weight: 500;
    }
    .curriculum .container .Crclm_bnr {
        display: block;
    }
    .curriculum .container .Crclm_bnr .content h1 {
        font-size: 32px;
    }
    .curriculum .container .Crclm_bnr .content p {
        font-size: 18px;
    }
    /* .curriculum .container .Crclm_bnr .img_contnr1{
        display: none;
    }
    .curriculum .container .Crclm_bnr .img_contnr2{
        display: block;
    }
    .curriculum .container .Crclm_bnr .content {
        padding: 10px;
    }
 */

}
@media only screen and (max-width:425px){
    .curriculum{
        background: none !important;
    }
    .curriculum .container{
        width:95%;
    }
    .curriculum .container .Crclm_bnr .content h1 {
        font-size: 30px;
    }
    .curriculum .container .Crclm_bnr .content p {
        margin: 5px;
    }
    /* .curriculum .container .Crclm_bnr .content {
        padding: 6px;
    }
    */
}
@media only screen and (max-width:1130px){
    .curriculum .container .Crclm_bnr {
        display: block;
    }
    .curriculum .container .Crclm_bnr .img_contnr2 {
        width: 100%;
    }
    .curriculum .container .Crclm_bnr .content {
        clip-path: none;
        width: 100%;
    }
    .curriculum .container .Crclm_bnr .content .text_container {
        padding-left: 0%;
        text-align: center;
    }
    .curriculum .container .Crclm_bnr .content p {
        padding-bottom: 13px;
    }
}

@media only screen and (max-width:1480px){
    .about_us{
        background: none !important;
    }
    .about_us_wrapper{
         width: 96%;
        margin: 0 auto;
    }
}
@media only screen and (max-width:1390px){
    .about_us_wrapper .content_block h1 {
        font-size: 42px;
        line-height: 42px;
    }
    .about_us_wrapper .content_block {
        
        width: 690px;
    }
    .about_us_wrapper .content_block p {
        line-height: 20px;
    }
  
}
@media only screen and (max-width:1308px){
    .about_us_wrapper{
        display: block !important;
    }
    .about_us_wrapper .image_block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }
    .about_us_wrapper .content_block{
        text-align: center;
        width: 100%;
    }
    .about_us_wrapper .image_block .imgbox:nth-child(odd){
        margin-left: 4px;
    }
    .about_us_wrapper .image_block .imgbox:nth-child(even){
        margin-right: 4px;
    }
} 
@media only screen and (max-width:425px){
    .about_us_wrapper .content_block h1 {
        font-size: 36px;
        line-height: 35px;
    }
    .about_us_wrapper .content_block p {
        line-height: 18px;
        margin: 0 0 10px;
    }
    
    .about_us_wrapper .content_block strong {
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
    }
    
    
}