body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
mat-card{
    border-radius: 0 !important;
    box-shadow: none !important;
}
.Enrollment_block{
    background-image: url(/assets/images/baloon.png), url(/assets/images/bird.png) !important;
    background-repeat: no-repeat !important;
    background-position: left center,right center !important;
    background-size: 9% ,9% !important;
}
.Enrollment_block .Enrlmnt_contnt{
    width: 78%;
    margin: 0 auto;
    background-image: url(/assets/images/trio.png) ;
    background-repeat: no-repeat;
    background-position: right center;
    /* background-size: 50%; */
  
}
.Enrollment_block .Enrlmnt_contnt .Container1{
    padding-right: 50%;
}
.Enrollment_block .Enrlmnt_contnt .Container1 h1{
    color:#00ffff;
    font-size: 50px;
}
.Enrollment_block .Enrlmnt_contnt .Container1 .chlds{
    display:none;
}
.Enrollment_block .Enrlmnt_contnt .Container1 p{
    font-size: 18px;
    line-height: 1.6;
}
.Enrollment_block .Enrlmnt_contnt .Container1 h2{
    font-size: 20px;
}
.Enrollment_block .Enrlmnt_contnt .Container1 h2 span{
    color: #ff4500;
}
.Enrollment_block .Enrlmnt_contnt .Container1 a{
    font-size: 20px;
    background-color:#0ece0e;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding: 8px 25px;
    margin-bottom: 40px;
    border-radius: 0;
}




.resources{
    padding: 0 !important;
    background-image: url(/assets/images/chklt.png),url(/assets/images/erth.png),url(/assets/images/bg-bl_shade.png) !important;
    background-repeat: no-repeat !important;
    background-position: 4% 78%, 98% 85% !important;

    background-size: 6% ,8%,100% !important;

}
.resources h1{
    text-align: center;
    padding: 0 !important;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 1;
}
.resources .clms{
    display: flex !important;
    justify-content: space-between;
    width: 78%;
    margin: 0 auto;
    padding: 0 0 15px !important;
   
}
.resources .clms .news_blk{
    width: 23%;
    margin-bottom: 0 !important;
    padding-bottom: 20px;
    position: relative;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
}
.resources .clms .news_blk .blk1{
    background: #ac0000;
    background: linear-gradient(90deg, #ac0000 0%, #ff0000 100%);
}
.resources .clms .news_blk .blk2{
    background: #7040a0;
    background: linear-gradient(90deg, #7040a0 0%, #8c15ed 100%);
}
.resources .clms .news_blk .blk3{
    background: #f25907;
    background: linear-gradient(90deg, #f25907 0%, #e97d43 100%);
}
.resources .clms .news_blk .blk4{
    background: #044eaf;
    background: linear-gradient(90deg, #044eaf 0%, #1c7af5 100%);
}
.resources .clms .news_blk h2{
    text-align: center;
    padding: 10px;
    color: #fff;
    margin:0;
    letter-spacing: 1px;
}
.resources .clms .news_blk img{
    width: 100%;    
}
.resources .clms .news_blk .NewsTitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 10px 10px 0;
}
.resources .clms .news_blk .NewsTitle::after{
    content: ' ';
    background: linear-gradient(90deg,rgba(3,4,4,0) 0, rgb(226,220,220) 50%,rgba(31,31,31,0) 100%);
    height: 2px;
    width: 100%;                        /* :nth-child(even)*/
    position: absolute;
    top: 100%;
    left: -4%;
}

.resources .clms .news_blk .img_box{
    width: 23%;
}
/* .resources .clms .news_blk .img_box1{
    width: 23%;
} */
.resources .clms .news_blk .NewsTitle h3{
    font-size: 18px;
    margin: 0 0 0 8px;
}
.resources .clms .news_blk p{
    font-size: 17px;
    padding: 0 10px 20px;
    color: rgb(100, 100, 100);
    margin: 0;
}
.resources .clms .news_blk p a{
    text-decoration: none;
    display: inline-block;
}
.resources .clms .news_blk .date{
    position: absolute;
    bottom: 10px;
    color: #b5b0b0;
    padding-left: 10px;
}

/* learn_desc design */

.learn_desc{
    width:100%;
    padding: 0 !important;
    background: url(../images/bird1.png) no-repeat right center !important;
}
.learn_desc .container{
    width: 70%;
    margin: 0 10%;
    padding: 0 0 15px !important;
}
.learn_desc .container .content{
    background-image: url(../images/tw_chld.png) !important;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 45%;
    padding-left:50%;
}
.learn_desc .container .content h1{
    font-size: 50px;
    color: #05e205;
    margin: 0;
}
.learn_desc .container .content p{
    font-size: 17px;
    line-height: 1.6;
}
.learn_desc .container .content strong{
    font-size: 24px;
    line-height: 1.3;
}

/*curriculum design*/

.curriculum{
    background: url(../images/baloon1.png), url(../images/rkt.png),url(../images/bk-01.jpg), url(../images/cr_arw.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: right 10% , 4% center , 99% 80%, 3% 98% !important;
    width:100%;
    padding: 0 !important;
}
.curriculum .container{
    width: 77%;
    margin: 0 auto;
    padding: 0 0 20px;
}
.curriculum .container .content1{
display: flex;
justify-content: space-between;
flex-direction: row;
background: rgb(227,237,245);
background: linear-gradient(270deg, rgba(227,237,245,1) 0%, rgba(250,250,250,1) 100%);
margin: 15px 0;
}
.curriculum .container .content1 .imgContainer{
    width: 46%;
}
.curriculum .container .content1 .imgContainer img{
    width:100%;
}
.curriculum .container .content1  .content{
    width: 50%;
    padding: 0 15px 15px;
}
.curriculum .container .content1 .content button{
    font-size: 30px;
    font-weight: 600;
    padding: 5px 15px;
    color: #fff;
    border-radius: 0 0 8px 8px;
    border: none;
}
.curriculum .container .content1 .content .green_btn{
    background: rgb(0,177,93);
    background: linear-gradient(270deg, rgba(0,177,93,1) 0%, rgba(0,249,133,1) 100%);
}
.curriculum .container .content1 .content .violt_btn{
    background: rgb(122,12,182);
    background: linear-gradient(270deg, rgba(122,12,182,1) 0%, rgba(169,105,218,1) 100%);
}
.curriculum .container .content1 .content .orng_btn{
    background: rgb(182,60,12);
    background: linear-gradient(270deg, rgba(182,60,12,1) 0%, rgba(223,113,47,1) 100%);
}
.curriculum .container .content1 .content .skblu_btn{
    background: rgb(12,120,162);
    background: linear-gradient(270deg, rgba(12,120,162,1) 0%, rgba(87,182,209,1) 100%);
}
.curriculum .container .content1 .content .chyn_btn{
    background: rgb(30,131,83);
    background: linear-gradient(270deg, rgba(30,131,83,1) 0%, rgba(68,187,132,1) 100%);
}
.curriculum .container .content1 .content p{
    font-size: 17px;
}

.curriculum .container .Crclm_bnr{
    background-color: rgb(255, 204, 0);
    display: flex;
    justify-content: space-between;
}
.curriculum .container .Crclm_bnr img{
    display: inline-block;
}
.curriculum .container .Crclm_bnr .content{
    padding: 30px 30px 0;
}
.curriculum .container .Crclm_bnr .content h1{
    color: #fff;
    font-size: 48px;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1;
}
.curriculum .container .Crclm_bnr .content p{
    font-size: 24px;
    margin-top: 12px;
}