<mat-card class="Enrollment_block">
    <mat-card-content class="Enrlmnt_contnt">
        <div class="Container1">
            <h1>early Enrollment</h1>
            <div class="chlds"><img src="assets/images/trio.png" ></div>
            <p>
                There are many variations of passages of lorem ipsum available, but the majority
                have suffered alteration in same form, by injected humour, or randomised words 
                which do'nt look even slightly believable. If you are going to use a passage of 
                Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                Lorem Ipsum is simply dummy text of the printing and typesettinf industry.
            </p>
            <h2><span>The generated lorem ipsum</span> is therefore always free from created
            humour, or non-characteristic words etc.</h2>
            <a mat-raised-button href="#" target="_blank">Enroll Now</a>
        </div>
    </mat-card-content>
</mat-card>


<mat-card class="resources">
    <h1>
        Resources
    </h1>
    <mat-card class="clms">
        <mat-card-content class="news_blk">
            <div class="blk1">
                <h2>NEWS</h2>
            </div>
            <img src="assets/images/schld.jpg">
            <div class="NewsTitle">
                <div class="img_box"><img src="assets/images/cdr_pnk.png"></div>
                <h3>How Testing Buoyancy Can Build Babie's Skills</h3>
            </div>
            <p>
                The sound and sight of water are absolutely fascinating to infants. and
                for good reason! Water is a completely unique substance in the world,
                and <a href="#" target="blank">read more...</a>
            </p>
            <span class="date">2 days ago</span>
        </mat-card-content>
        <mat-card-content class="news_blk">
            <div class="blk2">
                <h2>NEWS</h2>
            </div>
            <img src="assets/images/plntn.jpg">
            <div class="NewsTitle">
                <div class="img_box"><img src="assets/images/cdr_bl.png"></div>
                <h3>How Testing Buoyancy Can Build Babie's Skills</h3>
            </div>
            <p>
                For any parrent looking for some home science fun with their little ones, we have put together
                a wonderful collection of safe, fun, and <a href="#" target="blank">read more...</a>
            </p>
            <span class="date">5 days ago</span>
        </mat-card-content>
        <mat-card-content class="news_blk">
            <div class="blk3">
                <h2>NEWS</h2>
            </div>
            <img src="assets/images/etgchld.jpg">
            <div class="NewsTitle">
                <div class="img_box"><img src="assets/images/cdr_rd.png"></div>
                <h3>How Testing Buoyancy Can Build Babie's Skills</h3>
            </div>
            <p>
                Every parrent grapples with this issue.If you have young children, you know how every day can be a 
                struggle if your child doesn't behave. Even the most <a href="#" target="blank">read more...</a>
            </p>
            <span class="date">7 days ago</span>
        </mat-card-content>
        <mat-card-content class="news_blk">
            <div class="blk4">
                <h2>NEWS</h2>
            </div>
            <img src="assets/images/scl_chld.jpg">
            <div class="NewsTitle">
                <div class="img_box"><img src="assets/images/cdr_lbl.png"></div>
                <h3>How Testing Buoyancy Can Build Babie's Skills</h3>
            </div>
            <p>
                Have you ever wondered why kids, especially the under five set tend to touch everything they possibly
                can, from boxes at the Ut enim ad minim venium, quis nostrud <a href="#" target="blank">read more...</a>
            </p>
            <span class="date">10 days ago</span>
        </mat-card-content>

    </mat-card>

</mat-card>
<mat-card class="about_us">
    <mat-card class="about_us_wrapper">
        <div class="image_block">
            <div class="imgbox imgbox1"><img src="../../assets/images/abt-01.jpg"></div>
            <div class="imgbox imgbox2"><img src="../../assets/images/abt-02.jpg"></div>
            <div class="imgbox imgbox3"><img src="../../assets/images/abt-03.jpg"></div>
            <div class="imgbox imgbox4"><img src="../../assets/images/abt-04.jpg"></div>
        </div>
        <div class="content_block">
            <h1>our motto -<br>
            "<span>play is the work of the child</span>"</h1>

        <p>
            Our goal is to offer an educational setting in which children may explore 
            their interests and acquire skills that will lead to lifelong learning. We 
            promote the principles of cooperation, individuality, and creativity via 
            customised instruction and observation.
       </p>
       <p>
           <span>
               We harbor great respect for each child's natural abilities and believe that
               'play' is the first step to ease them into enjoyable and purposeful education.
           </span> Playing offers an excellent environment for brain development because it 
           connects sensorimotor, cognitive, and social-emotional experiences. With the right 
           toys, children can strengthen their overall creativity and motor skills.
       </p>
       <strong>
           we are commited to establishing a genuine montessori learning community that 
           enhances and nourishes the children in our care. We build global citizens who 
           aim for academic achievement through awareness of cultural and socioeconomic 
           plurality and personalised education.
       </strong>
        </div>
    </mat-card>
</mat-card>